

        /* partner css starts  */
        .partner {
            background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../image/partner.jpg");
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            width: 100%;
        }

        .parallax_inner {
            padding-top: 5%;
            padding-bottom: 12%;
        }

        .partner_content {
            margin: 4rem;
            padding: 4rem;
            padding-bottom: 0;

        }

        .partner_content h1 {
            font-size: 5rem;
            margin: 2rem 0;
        }

        .partner_content .design::before {
            content: "";
            position: absolute;


            width: 10vw;
            border-bottom: 2px solid #f7af14;

        }

        .partner_content .design::after {
            content: " ";
            position: absolute;
            /* bottom: -5%; */
            left: 50%;
            width: 10vw;
            border-bottom: 2px solid #fff;

        }



        .partner_content h1 p {
            font-size: 1.6rem;
            color: goldenrod;
            text-align: center;
            margin-top: 2rem;
            letter-spacing: 1rem;
            word-spacing: .7rem;
        }

        /* partner slider css  */
        .partner_section .owl-item img {
            width: 25%;
        }

        .partner_section .owl-stage {
            left: 38%;
        }



        /* partner css ends  */